[submodule "site/themes/PaperMod"]
	path = site/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod
[submodule "Tack/tack-android"]
	path = Tack/tack-android
	url = https://github.com/patzly/tack-android.git
