{
  "FIREBASE_API_KEY": "REPLACE_ME_SEE_INSTRUCTIONS",
  "SPOTIFY_CLIENT_ID": "REPLACE_ME_SEE_INSTRUCTIONS",
  "SPOTIFY_CLIENT_SECRET": "REPLACE_ME_SEE_INSTRUCTIONS",
  "TWITTER_API_KEY": "REPLACE_ME_SEE_INSTRUCTIONS",
  "TWITTER_API_SECRET": "REPLACE_ME_SEE_INSTRUCTIONS"
}
